// declaration des variables

$fonts-title: Shrikhand;
$fonts-text: Roboto;

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

$color-black: #000000;
$color-white: #ffffff;
$color-grey: #353535;
$color-light-grey: grey;
$color-shadow: grey;

$color-bg: #ffffff;
$color-bg-darker: #eaeaea;
$color-bg-lighter: #f6f6f6;
$color-bg-active: #f5edff;
$color-bg-dark: #353535;

$spacing: 2rem;
$padding-sides: 5%;
$padding-height: 1rem;
$card-radius: 1rem;
