.banner__img {
  max-height: 30em;
  height: 300px;
  object-fit: cover;
}

.restaurant__header {
  background-color: $color-bg-lighter;
  padding: 1em 5% 0em 5%;
  @include flex-center-row-sb;
  @include card-top-radius(2.5em);
  margin-top: -4.8em;
  position: relative;

  .restaurant__titre {
    @include text-title-restaurant;
    @include margin-top-bot(0.8em);
  }

  .restaurant__button {
    position: absolute;
    right: 2.5rem;
    top: 2.5rem;
    cursor: pointer;

    .button__icone {
      font-size: 28px;
      position: absolute;
      right: 0rem;
      top: 0rem;
    }
    .button__icone--active {
      opacity: 0;
    }
  }
  .restaurant__button:hover {
    .button__icone--inactive {
      opacity: 0;
    }
    .button__icone--active {
      opacity: 1;
      transition: 0.5s;
      background: -webkit-linear-gradient(#9356dc, #ff79da);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.menu {
  background-color: $color-bg-lighter;
  @include flex-center-column-sa;
  @include padding-sides($padding-sides);

  @media (min-width: 1181px) {
    @include flex-custom(center, flex-start, row, nowrap, flex-start);
    flex-basis: 0;
  }

  .menu__course {
    width: 100%;
    @include padding-top-bot(0.5em);
    max-width: 500px;

    @media (min-width: 1181px) {
      @include padding-sides(0.5em);
    }

    .course__titre {
      @include text-light;
      font-size: 16px;
      text-transform: uppercase;
      @include margin-top-bot(0.6em);
      padding-bottom: 0.5em;
      position: relative;
    }
    .course__titre::after {
      content: "";
      width: 2.5rem;
      height: 0.2rem;
      background-color: $color-tertiary;
      position: absolute;
      left: 0;
      bottom: 0;
    }
    .course__elements {
      @include flex-start-column-sa;

      @for $i from 1 through 4 {
        .course__element:nth-child(#{$i}) {
          animation: #{$i * 0.7}s ease-out 0s slideInBottom;
        }
      }

      .course__element {
        display: flex;
        width: 100%;
        padding: 10px;
        @include margin-top-bot(5px);
        background-color: $color-bg;
        overflow: hidden;
        cursor: pointer;
        border-radius: 1em;
        box-shadow: 0px 2px 15px -7px $color-shadow;

        .element__desc {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          flex: 1;

          .element__titre {
            @include text-bold;
            @include margin-top-bot(5px);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
          }
          .element__text {
            @include text-light;
            font-size: 15px;
            @include margin-top-bot(5px);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
          }
        }
        .element__prix {
          @include text-bold;
          font-size: 15px;
          @include margin-top-bot(5px);
          @include padding-sides(1em);
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
        }
        .element__active {
          background-color: $color-tertiary;
          width: $width-element__active;
          margin: -10px $margin-element__active--hidden -10px 0;
          display: flex;
          justify-content: center;
          align-items: center;
          transition-duration: 0.5s;

          .element__active--icone {
            background-color: $color-white;
            color: $color-tertiary;
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            transform: rotate(360deg);
            transition-duration: 0.5s;
          }
        }
      }
      .course__element:hover {
        .element__active {
          margin-right: $margin-element__active;
        }
        .element__active--icone {
          transform: rotate(0);
        }
      }
    }
  }
}

.wrap {
  background-color: $color-bg-lighter;
  @include flex-center-column-sa;
  @include padding-sides($padding-sides);

  .wrap__button {
    margin-top: 2em;
    margin-bottom: 4em;
    width: 12em;
  }
}
